includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - %currentWorkingDirectory%/src/Fragments/Traits/*
