<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://unpkg.com/bootstrap-3-typeahead@4.0.2/bootstrap3-typeahead.min.js"></script>
	<title>Autocomplete demo</title>
</head>
<body>
{control form}
<script>
	$('.autocomplete').typeahead({
		source: function (query, resultCb) {
			var url = this.$element.data('autocomplete-url').replace('__QUERY_PLACEHOLDER__', query);
			$.ajax({
				url: url
			}).done(function (response) {
				resultCb(response);
			});
		}
	});
</script>
</body>
</html>
